html,
body {
  background-color: white;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @media (prefers-color-scheme: dark) {
    background-color: rgb(3, 7, 18); /* gray-950 equivalent */
    color-scheme: dark;
  }
}
